<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zz-ohaqyrf@sereba.pbz</string>
	<key>contactName</key>
	<string>Benny Kjær Nielsen</string>
	<key>description</key>
	<string>TeX math converted to MathML</string>
	<key>name</key>
	<string>TeXMath</string>
	<key>uuid</key>
	<string>0B45DFC5-2EEB-4013-8ECF-A71C8A58FA3E</string>
</dict>
</plist>
